header{
    background-color: rgb(227 233 239);
}
header .box{
    justify-content: space-between;
}
header .box .logo{
    width: 19%;
    padding: 5px;
}
header .box .exit{
    display: flex;
    align-items: center;
    padding-right: 8px;
}